.movieWindow__container {
    position: relative;
    width: 100%;
    height: 300px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(black, 0.1);
    transition: all .5s;

    &:hover {
        box-shadow: 0 20px 20px rgba(black, 0.2);
    }

    video {
        width: 100%;
        cursor: pointer;
    }

    .opis {
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        background-color: #fff;
        top: 65%;
        transition: all .3s;
        font-size: 14px;
        font-weight: 200;
        line-height: 1.2;
        border-radius: 10px;

        &.open {
            top: 10%;
        }

        .hash {
            width: 20%;
            color: white;
            background-color: dodgerblue;
            padding: 7px 12px;
            border-radius: 15px;
            text-transform: uppercase;
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            font-size: 12px;
            font-weight: 200;
        }

        .title__container {
            width: 100%;
            height: 40px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 10px 0px;

            .more {
                width: 30px;
                cursor: pointer;
                transition: all .3s;
            }

            .title {
                font-size: 20px;
                margin-left: 20px;
                font-weight: 400;
            }

            .download {
                width: 40px;
                cursor: pointer;
                position: absolute;
                right: 0;
                margin: 0 10px;
            }


        }

        .data {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 14px;
            margin-top: 20px;

            span {
                font-size: 14px;
                font-weight: 200;
                margin-left: 5px;
                text-transform: lowercase;
            }
        }
    }

    img {
        width: 100%;
    }
}