.search__container {
  width: 55%;
  height: 50%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgb(95, 95, 95);
  margin: 0 15px;
  font-size: 14px;

  .all__movies {
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    font-weight: 100;
  }

  .search__input {
    height: 100%;
    width: 55%;
    background-color: white;
    appearance: none;
    border: none;
    padding: 0 20px;
    color: rgb(113, 113, 113);
  }

  .search__btn {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(147, 147, 147);
    border: none;
    appearance: none;
    color: white;
  }
}
