.search__container {
  position: relative;
  width: 55%;
  height: 50%;
  display: flex;
  border-radius: 5px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.5px solid rgb(95, 95, 95);
  margin: 0 15px;
  font-size: 14px;

  @media screen and (max-width: 1115px) {
    width: 90%;
  }

  .all__movies {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(241, 241, 241);
    font-weight: 200;
    cursor: pointer;
    transition: all .3s;

    &:hover {
      font-weight: 500;
    }

    img {
      width: 10px;
      margin-left: 10px;
      transition: all .5s;
    }
  }

  .search__input {
    height: 100%;
    width: 55%;
    background-color: white;
    appearance: none;
    border: none;
    color: rgb(113, 113, 113);

  }

  .search__btn {
    width: 15%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(147, 147, 147);
    border: none;
    appearance: none;
    color: white;
  }
}