.info__container {
  width: 70vw;
  max-width: 1440px;
  height: 400px;
  display: flex;
  align-items: center;
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg,
      rgba(0, 0, 0, 0.05) 0%,
      rgba(255, 255, 255, 0) 100%);
  padding: 30px 20px;
  box-sizing: border-box;
}