.menu__container {
    position: relative;
    width: 100vw;
    max-width: 1440px;
    height: 75px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 10px 10px rgba(black, 0.1);
}